<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- .hsm files are text: other editors (Generic Editor, TM4E, LSP4E) can be bound to the content type -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="hsm.eclipse.hsm"
            name="HSM State Machine"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="hsm"
            default-charset="UTF-8"
            priority="normal">
      </content-type>
   </extension>
   <!-- the web app (text editor + diagram) in an embedded browser -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="hsm.eclipse.editor"
            name="HSM Modeler"
            icon="icons/hsm.png"
            class="hsm.eclipse.HsmDiagramEditor"
            default="true">
         <contentTypeBinding contentTypeId="hsm.eclipse.hsm"/>
      </editor>
   </extension>
</plugin>
